@{
    ViewData["Title"] = "Index";
}
@inject ILayoutService layoutService

@{
    IEnumerable<Category> categories = await layoutService.GetCategories();
    IDictionary<string, string> settings = await layoutService.GetSettings();
}
<main class="main-about">
    <div class="top">
        <div class="container">
            <div class="category-links">
                <ul class="owl-carousel owl-category-slider main-category-list">
                    @foreach (Category category in categories)
                    {
                        <li class="category-item">
                            <div class="category-title">
                                @Html.Raw(category.Icon)
                                <span>@category.Name</span>
                            </div>
                            <div class="category-content">
                                <div class="content-products">
                                    @if (category.Children != null && category.Children.Count() > 0)
                                    {
                                        @foreach (Category child in category.Children)
                                        {
                                            <ul class="content-product-list">
                                                <a href="product/index?CategoryId=@child.Id" class="content-header">@child.Name</a>
                                                @if (child.Products != null && child.Products.Count() > 0)
                                                {
                                                    @foreach (Brand brand in child.Products.Where(p => p.CategoryId == child.Id).Select(p => p.Brand).Distinct().ToList())
                                                    {
                                                        <li class="content-body"><a href="product/index?brandId=@brand.Id" class="content-body-link">@brand?.Name</a></li>
                                                    }
                                                }

                                            </ul>
                                        }

                                    }

                                </div>
                            </div>
                        </li>
                    }

                </ul>
            </div>
            <h1>Ümumi Məlumat</h1>
        </div>
    </div>
    <div class="bottom">
        <div class="container">
            <div class="about-content">
                <p><strong>Smart Electronics</strong> 2016-cı ildən fəaliyyətə başlamış, 200-dən çox elektronik məhsulun Azərbaycanda satışını həyata keçirən biznes şirkətidir. Şirkət Azərbaycana müxtəlif növ elektronik məhsulların münasib qiymətlər və razılaşmalı kredit şərtləri ilə gətirilməsini və ölkədə satışını həyata keçirir. Münasib qiymət strategiyası və kreditləşmə şərtləri ilə şirkət, bazarda hədəflənən alıcı kütləsinin diqqətini qısa müddət ərzində cəlb etmiş və məhsulların kütləvi satışına başlanmışdır.&nbsp;Şirkət məhsullarının bazarda reklam olunması, brendin tanıdılması, bazarda təsir dairəsinin genişləndirilməsi və məhsul satışının artırılması yönündə işlərin aparılması üçün hazırlanmış bu strategiya da sektorda mövcud reklam sistemindən fərqli olaraq virtual, sosial-media reklamları ilə yanaşı canlı marketinq və resurs&nbsp;reklamı da özündə əks etdirir. Belə ki, hədəf kütləmiz olan gənclər, yeniyetmələr, universitet tələbələri, yeni biznes layihələr işləyən sahibkarlar və ümumi trend alıcı kütlələrinə öz məhsul və xidmətlərimizi və brendimizi sosial kampaniyalar, video çarxlar, sosial layihələr, startaplara dəstək kampaniyaları, gənclər təşkilatları və universitetlərlə əməkdaşlıqlar, gənclər sektorunda fəaliyyət göstərən qurum və firmalarla ortaq layihələr və korperativ işlər vasitəsilə tanıdacağıq. Bununla yanaşı şirkətin rəsmi saytı olan www.smarttelectronics.az saytı, sosial-media reklamları, ödənişli reklamlar və televiziya proqramlarına sponsor kimi müxtəlif növ marketinq və reklam üsullarından da istifadə edilir. Smart Electronics 2017 - ci ildə ilk filialı olan <strong>28 may</strong>&nbsp;filialını, 2019 - cu ildə daha geniş məhsul çeşidi ilə <strong>Neftçilər</strong> Filialını, 2020-ci ildə ən böyük satış platforması olan <strong>Əhmədli</strong> filialını, 2021-ci ildə <strong>İnşaatçılar </strong>filialını, 2022-ci ildə <strong>Nizami</strong>&nbsp;və <strong>Qara Qarayev, 2022-ci il Avqust ayında Hövsan və Oktyabr ayında ilk regional filialı olan Quba</strong>&nbsp;filiallarını müştərilərinə xidmət üçün açmışdır. Hal hazırda <strong>Samsung C&amp;T Corporation&nbsp;</strong>və&nbsp;<strong>Xiaomi&nbsp;</strong>şirkətlərinin rəsmi nümayəndəsidir. Bazarda məhsul çeşidini artıraraq <strong>Kapital Bank</strong>, <strong>Azərbaycan Beynəlxalq Bankı</strong>, <strong>Bank of Baku</strong>, <strong>Unibank</strong> kimi maliyyə qurumları, <strong>Azərbaycan Respublikası Rabitə və Yüksək Texnologiyalar Nazirliyi</strong>, <strong>Azərbaycan Respublikası&nbsp;İqtisadiyyat Nazirliyi yanında Antiinhisar və İstehlak bazarına Nəzarət Dövlət Xidməti&nbsp;</strong>və bir sıra dövlət qurumları ilə iki tərəfli layihələr həyata keçirmişdir. LG , ACER , Lenovo, Asus , Hotpoint, Bosch, Demirdöküm, JBL , BASEUS kimi bir çoc tanınmış markanın Azərbaycanda rəsmi satış nöqtəsi kimi bazarda pay sahibi olan Smart Electronics şirkəti tezliklə daha böyük məhsul bazası və regionlar üzrə satış nöqtələrinin artırılması ilə ən yüksək xidmət platforması və elektron ticarət platformasına çevrilməyi planlaşdırır.</p>
                <p>"Smart Electronics brendi" 2016- cı ildə Azərbaycan Respublikası Vergilər Nazirliyi tərəfindən 1904060021 eyniləşdirmə nömrəsi ilə qeydiyyata alınmış Smart Telecom MMC yə məxsus biznes brendidir və brendin bütün sahiblik hüququ qorunur.</p>
                <p>Şirkətin hüquqi ünvanı : @settings.FirstOrDefault(s=>s.Key == "Address").Value</p>
            </div>
        </div>
    </div>
</main>

