@model List<ProductColor>

@foreach (ProductColor productColor in Model)
{
    <div>
        <div>
            <img style="width: 100px" src="~/assets/images/products/@productColor.Image" />
        </div>
        @if (Model.Count() > 1)
        {
            <div>
                <a asp-area="manage" asp-controller="product" asp-action="deleteimage" asp-route-id="@productColor.ProductId" asp-route-imageId="@productColor.Id" class="btn btn-danger deleteImage">Delete</a>
            </div>
        }
    </div>
}