@model List<BasketVM>
@{
    ViewData["Title"] = "Index";
}
@inject ILayoutService layoutService

@{
    IEnumerable<Category> categories = await layoutService.GetCategories();
}
<main class="main-basket">
        <div class="top">
            <div class="container">
               <div class="category-links">
                  <ul class="owl-carousel owl-category-slider main-category-list">
                      @foreach (Category category in categories)
                      {
                        <li class="category-item">
                            <div class="category-title">
                                @Html.Raw(category.Icon)
                                <span>@category.Name</span>
                            </div>
                            <div class="category-content">
                                <div class="content-products">
                                    @if (category.Children != null && category.Children.Count() > 0)
                                    {
                                        @foreach (Category child in category.Children)
                                        {
                                            <ul class="content-product-list">
                                                <a class="content-header">Smartfonlar</a>
                                                @if (child.Products != null && child.Products.Count() > 0)
                                                {
                                                    @foreach (Brand brand in child.Products.Where(p => p.CategoryId == child.Id).Select(p => p.Brand).Distinct().ToList())
                                                    {
                                                        <li class="content-body"><a class="content-body-link">@brand.Name</a></li>
                                                    }
                                                }
                                                
                                            </ul>
                                        }

                                    }
                                    
                                </div>
                            </div>
                        </li>
                      }
                      
                   </ul>
              </div>
            </div>
        </div>
    <div class="basket-main-div">
        @await Html.PartialAsync("_BasketMainPartial", Model);
    </div>
    </main>

