@model LoginVM

<form class="login-form" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="login-email-div">
        <input asp-for="Email" id="login-email-input" type="text" placeholder="E-Poçt">
        <span asp-validation-for="Email"></span>
    </div>
    <div class="login-password-div">
        <input asp-for="Password" id="login-password-input" type="password" placeholder="Şifrə">
        <span asp-validation-for="Password"></span>
    </div>
    <div class="login-submit-div">
        <button type="submit">Daxil ol</button>
    </div>
    <div class="login-links">
        <span>Hesabınız yoxdur?</span>
        <a asp-controller="account" asp-action="register" id="gotoregister">Qeydiyyatdan keç</a>
    </div>
</form>