@model Message

<form method="post" asp-controller="affiliate" asp-action="Index">
    <div class="form-group">
        <label asp-for="Name">Ad</label>
        <input asp-for="Name" placeholder="Ad">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Surname">Soyad</label>
        <input asp-for="Surname" placeholder="Soyad">
        <span asp-validation-for="Surname" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Mail">E-poçt</label>
        <input asp-for="Mail" placeholder="E-poçt">
        <span asp-validation-for="Mail" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Number">Telefon nömrəsi</label>
        <input asp-for="Number" placeholder="Telefon nömrəsi">
        <span asp-validation-for="Number" class="text-danger"></span>
    </div>
    <div class="form-group">
        <textarea asp-for ="YourMessage" placeholder="Message"></textarea>
        <span asp-validation-for="YourMessage" class="text-danger"></span>
    </div>
    <button type="submit" class="btn_blue">Göndər</button>
</form>
