@model SettingVM

<form method="post" asp-controller="account" asp-action="UpdateSetting">
    <div class="personal-info">
        <div class="form-group">
            <input id="name1" asp-for="Name" type="text" placeholder="Ad">
        </div>
        <div class="form-group">
            <div class="radio-wrapper">
                <div class="radio-box">
                    <input type="radio" asp-for="Gender" name="gender" value="Male" id="Male">
                    <label for="Male">Kişi</label>
                </div>
                <div class="radio-box">
                    <input type="radio" asp-for="Gender" name="gender" value="Female" id="Female">
                    <label for="Female">Qadın</label>
                </div>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <input id="surname1" asp-for="SurName" type="text" placeholder="Soyad">
        </div>
        <div class="form-group"></div>
        <div class="form-group">
            <input asp-for="Patronymic" type="text" placeholder="Ata adi">
        </div>
        <div class="form-group">
            <div class="form-align">
                <span>Doğum tarixi</span>
            </div>
        </div>
        <div class="form-group">
            <input asp-for="IdSeria" type="text" placeholder="Şəxsiyyət vəsiqəsinin seriyası">
        </div>
        <div class="form-group">
            <div class="date">
                <input id="birthdate" asp-for="BirthDate" type="date" id="birthday">
            </div>
        </div>
        <div class="form-group">
            <input asp-for="Fin" type="text" placeholder="FİN">
        </div>
        <div class="form-group">
            <input asp-for="Number" type="tel" id="phone2" formcontrolname="mobilePhone" class="form-control" placeholder="+994 (__) ___ __ __">
        </div>
        <button type="submit" class="save-changes">Yadda saxla</button>
    </div>
</form>
