@model ProductVM
@{
    ViewData["Title"] = "Index";
}

<section class="breadcrumb-section">
    <h2 class="sr-only">Site Breadcrumb</h2>
    <div class="container">
        <div class="breadcrumb-contents">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="index.html">Smart Electronics</a>
                    </li>
                    <li class="breadcrumb-item active">
                        <a href="index.html">
                            Smartfon və Planşetlər
                        </a>
                    </li>
                </ol>
            </nav>
        </div>
    </div>
</section>

<main class="main-shop">
    <div class="container">
        <div class="product-filters">
            <button class="product-filter-btn active">Yeni məhsullar</button>
            <button class="product-filter-btn">Endirimli məhsullar</button>
            <button class="product-filter-btn">Əvvəlcə Ucuz</button>
            <button class="product-filter-btn">Əvvəlcə Bahalı</button>
        </div>
        <div class="content">
            <button class="filter-btn-mobile"><i class="fa-solid fa-filter"></i></button>
            <div class="left">
                <div class="filter-list">
                    <div class="filter-item category">
                        <button class="filter-button">Kateqoriya<i class="fa-solid fa-angles-down"></i></button>
                        <div class="drop-content">
                            <div class="content-box">
                                @if (Model.Categories != null && Model.Categories.Count() > 0)
                                {
                                    @foreach (Category category in Model?.Categories)
                                    {
                                        <a href="#" class="link">
                                            <span>@category.Name</span>
                                            <span>@category?.Products?.Count()</span>
                                        </a>
                                    }
                                }
                            </div>

                        </div>
                    </div>

                    <div class="filter-item suggestions">
                        <button class="filter-button">Təklif edilən<i class="fa-solid fa-angles-down"></i></button>
                        <div class="drop-content">
                            <div class="content-box">
                                <div class="radio-box">
                                    <input type="radio" name="offer" id="sortFromNew-0">
                                    <label for="sortFromNew-0">Ən yenilər</label>
                                </div>
                                <div class="radio-box">
                                    <input type="radio" name="offer" id="isDiscounted-1">
                                    <label for="isDiscounted-1">Endirimli Məhsullar</label>
                                </div>
                                <div class="radio-box">
                                    <input type="radio" name="offer" id="sortFromPrice-2">
                                    <label for="sortFromPrice-2">Ən aşağı qiymət</label>
                                </div>
                                <div class="radio-box">
                                    <input type="radio" name="offer" id="sortFromPrice-3">
                                    <label for="sortFromPrice-3">Ən yuxarı qiymət</label>
                                </div>
                                <div class="radio-box">
                                    <input type="radio" name="offer" id="sortFromBestSeller-4">
                                    <label for="sortFromBestSeller-4">Ən çox satılanlar</label>
                                </div>
                                <div class="radio-box">
                                    <input type="radio" name="offer" id="sortFromBestSelected-5">
                                    <label for="sortFromBestSelected-5">Ən çox seçilənlər</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="filter-item pricefilter">
                        <button class="filter-button">Kateqoriya<i class="fa-solid fa-angles-down"></i></button>
                        <div class="drop-content">
                            <div class="content-box">
                                <div class="price-input">
                                    <div class="field">
                                        <span>Min</span>
                                        <input type="number" class="input-min" value="0">
                                    </div>
                                    <div class="separator"></div>
                                    <div class="field">
                                        <span>Maks</span>
                                        <input type="number" class="input-max" value="7000">
                                    </div>
                                </div>
                                <div class="slider">
                                    <div class="progress"></div>
                                </div>
                                <div class="range-input">
                                    <input type="range" class="range-min" min="0" max="7000" value="0" step="10">
                                    <input type="range" class="range-max" min="0" max="7000" value="7000" step="10">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="filter-item brands">
                        <button class="filter-button">Brend<i class="fa-solid fa-angles-down"></i></button>
                        <div class="drop-content">
                            <div class="content-box">
                                @if (Model.Brands != null && Model.Brands.Count() > 0)
                                {
                                    @foreach (Brand brand in Model?.Brands)
                                    {
                                        <div class="radio-box">
                                            <input type="radio" name="offer" id="isDiscounted-1">
                                            <label for="isDiscounted-1"><span>@brand.Name</span><span>@brand?.Products?.Count()</span></label>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>

                    <div class="filter-item colorfilter">
                        <button class="filter-button">Rəng<i class="fa-solid fa-angles-down"></i></button>
                        <div class="drop-content">
                            <div class="content-box">
                                @if (Model?.AllProducts?.Select(p => p.ProductColors?.Select(c => c.Color).Distinct()).ToList() != null &&
                                Model?.AllProducts?.Select(p => p.ProductColors?.Select(c => c.Color).Distinct()).ToList().Count() > 0)
                                {
                                    @foreach (Color color in Model?.AllProducts?
                                   .SelectMany(p => p.ProductColors?.Select(c => c.Color))
                                   .Distinct()
                                   .ToList())
                                    {
                                        <button class="color" style="background: @color.Code;"></button>
                                    }
                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right">
                @await Html.PartialAsync("_ShopPaginationPartial", Model)
            </div>
        </div>
    </div>
</main>

