@model IEnumerable<WishlistVM>
@{
    ViewData["Title"] = "Index";
}
@inject ILayoutService layoutService

@{
    IEnumerable<Category> categories = await layoutService.GetCategories();
}
<main class="main-wishlist">
    <div class="top">
        <div class="container">
            <div class="category-links">
                <ul class="owl-carousel owl-category-slider main-category-list">
                    @foreach (Category category in categories)
                    {
                        <li class="category-item">
                            <div class="category-title">
                                @Html.Raw(category.Icon)
                                <span>@category.Name</span>
                            </div>
                            <div class="category-content">
                                <div class="content-products">
                                    @if (category.Children != null && category.Children.Count() > 0)
                                    {
                                        @foreach (Category child in category.Children)
                                        {
                                            <ul class="content-product-list">
                                                <a href="product/index?CategoryId=@child.Id" class="content-header">@child.Name</a>
                                                @if (child.Products != null && child.Products.Count() > 0)
                                                {
                                                    @foreach (Brand brand in child.Products.Where(p => p.CategoryId == child.Id).Select(p => p.Brand).Distinct().ToList())
                                                    {
                                                        <li class="content-body"><a href="product/index?brandId=@brand.Id" class="content-body-link">@brand?.Name</a></li>
                                                    }
                                                }

                                            </ul>
                                        }

                                    }

                                </div>
                            </div>
                        </li>
                    }

                </ul>
            </div>
        </div>
    </div>
        <div class="bottom">
            <div class="container">
                <h1>Seçilmişlər</h1>
                <div class="content">
                    <div class="main">
                        
                        <div class="wishlist-main-div">
                            @await Html.PartialAsync("_WishlistMainPartial", Model)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

